.titleWorked {
    justify-content: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-style: oblique;
    opacity: 0.7;
}

.logo {
    width: 200;
    height: 100px;
    object-fit: contain;
    margin: 1rem;
}

.workedWith {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 70px;
    right: 80px;
    display: flex;
    flex-direction: column;
    z-index: 21;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.welcomeSvg {
    position: absolute;
    z-index: 11;
    top: 20px;
    left: 18px;
    width: 150;
    height: 175px;
}

.contentAbout {
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 700px;
}

.aboutMe .titleLine {
    position: relative;
    width: 180px;
    height: 7px;
    border-radius: 20%;
    background-image: var(--nav-font-color);
    left: 1.7rem;
    top: 1rem;
}

.aboutMe {
    top: 0;
    background-color: var(--header-color);
    color: wheat;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

.resumeButton {
    position: absolute;
    top: 500px;
    left: 200px;
    width: 300px;
}

a {
    text-decoration: none;
}


/* RESPONSIVE PART */

@media only screen and (min-width: 100px) and (max-width: 930px) {
    .contentAbout {
        width: 80%;
        font-size: .6rem;
    }
    .workedWith {
        top: 500px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 930px) {
    .aboutMe {
        width: 100vw;
        height: 100vh;
    }
    .workedWith {
        height: 250px;
        top: 450px;
        width: 85vw;
        right: auto;
        margin: 1.2rem;
    }
    .logos {
        padding-left: 1rem;
    }
    .logo {
        height: 50px;
        width: 90px;
        margin: .3rem;
    }
    .resumeButton {
        display: flex;
        width: 100%;
        left: auto;
        bottom: 80px;
        top: auto;
        justify-content: center;
    }
}