.contactMe {
    top: 0;
    background-color: var(--header-color);
    color: wheat;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.form-label {
    font-size: .8rem;
}

.form {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    width: 80%;
    height: 300px;
    margin: 0 auto;
}


/* RESPONSIVE PART */

@media only screen and (min-width: 100px) and (max-width: 930px) {}

@media only screen and (min-width: 400px) and (max-width: 930px) {
    .contactMe {
        width: 100vw;
    }
}