.portfolioSection {
    top: 0;
    background-color: var(--main-color-contrast);
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.containerCars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.cards {
    width: 90%;
    height: 100%;
    background-color: red;
}


/* .arrow1 {
    
} */


/* RESPONSIVE PART */

@media only screen and (min-width: 100px) and (max-width: 930px) {}

@media only screen and (min-width: 400px) and (max-width: 930px) {
    .portfolioSection {
        width: 100vw;
    }
}