.portfolioSection {
    top: 0;
    background-color: var(--main-color-contrast);
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.containerCars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}


/* .cards {
    width: 90%;
    height: 100%;
    background-color: red;
} */

@media only screen and (max-width: 930px) {
    .containerBis {
        width: 90%;
        height: 90%;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        background-color: red;
    }
}


/* imported */

.containerBis {
    position: absolute;
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cardBis {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.cardBis:not(:first-child) {
    margin-left: -50px;
}

.cardBis:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.cardBis:hover~.cardBis {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.titleBis {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 0px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.cardBis:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
}

.cardBis:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}


/* .arrow1 {
    
} */


/* RESPONSIVE PART */

@media only screen and (min-width: 100px) and (max-width: 930px) {}

@media only screen and (min-width: 400px) and (max-width: 930px) {
    .portfolioSection {
        width: 100vw;
    }
}