:root {
    /* STORE COLORS VARIABLES */
    --header-color: #2F3A8F;
    --nav-logo-color: #FE7E6D;
    --nav-logo-hover-color: #ff523b;
    --nav-logo-hover-lighter-color: #ff806f;
    --body-logo-hover-color: #d8db26;
    --nav-bg-color: #FEECE9;
    --nav-font-color: #474554;
    --header-font-color: black;
    --body-bg-color: white;
    --palette-bg-color: var(--nav-logo-color);
    --main-color-theme1: #2F3A8F;
    --main-color-theme2: #6b705c;
    --main-color-theme3: #B762C1;
    --svg-color: #00C895;
    --main-color-contrast: #F2ECFF;
}


/* USEFULL TO DEBUG */

* {
    outline: 1px red solid !important;
    visibility: visible !important
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
    font-size: 1.5rem;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}