.palette-button {
    display: flex;
    position: inherit;
    width: 50px;
    height: 50px;
    background-color: var(--palette-bg-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--header-font-color);
    box-shadow: 0px 2px 4px 2px #000000;
    z-index: 50;
}

.palette-button:hover {
    background-color: var(--nav-logo-hover-color);
}

.palette-subicons {
    position: inherit;
    width: 210px;
    height: 90px;
    z-index: 2;
}

#subiconB {
    bottom: 0px;
    left: 20px;
}

#subiconT {
    top: 0;
    left: 20px;
}

.subicons {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 2px #000000;
    font-size: 1rem;
    transition: .3s linear;
}

.subicons:hover {
    cursor: pointer;
}

.top-icons {
    background-color: var(--palette-bg-color);
    color: black;
}

#subicon3 {
    bottom: -40px;
    left: 86px;
    opacity: 0;
}

.move3 {
    transition: .3s linear;
    margin-bottom: 40px;
    margin-left: -85px;
}

#subicon4 {
    bottom: -40px;
    right: 85px;
}

.move4 {
    transition: .3s linear;
    margin-bottom: 40px;
    margin-right: -85px;
}

#subicon5 {
    top: 85px;
    left: 85px;
    opacity: 0.5;
}

.move5 {
    transition: .3s linear;
    margin-top: -85px;
}

#subicon6 {
    top: -40px;
    left: 85px;
    background-color: var(--main-color-theme1);
    opacity: 0.5;
}

.move6 {
    transition: .3s linear;
    margin-top: 40px;
    margin-left: -85px;
}

#subicon7 {
    top: -40px;
    right: 85px;
    background-color: var(--main-color-theme2);
}

.move7 {
    transition: .3s linear;
    margin-top: 40px;
    margin-right: -85px;
}

#subicon8 {
    bottom: 85px;
    left: 85px;
    background-color: var(--main-color-theme3);
}

.move8 {
    transition: .3s linear;
    margin-bottom: -85px;
}

.special-triangle {
    font-size: 1.2rem;
}

.palette-all {
    position: absolute;
    width: 250px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 930px) {
    .palette-all {
        display: none;
    }
}